
ck2 solar system/history/characters/burkel.txt
ck2 solar system/history/titles/b_lompoc.txt
ck2 solar system/common/dynasties/burkel_dynasties.txt
ck2 solar system/common/event_modifiers/sinocide_modifiers.txt
ck2 solar system/common/laws/sinocide_laws.txt
ck2 solar system/common/nicknames/sin_nicknames.txt
ck2 solar system/common/on_actions/sin_nick_on_actions.txt
ck2 solar system/common/on_actions/sinocide_on_actions.txt
ck2 solar system/common/scripted_triggers/sinocide_scripted_triggers.txt
ck2 solar system/decisions/sinocide2_decisions.txt
ck2 solar system/decisions/sinocide_decisions.txt
ck2 solar system/events/sin_nick_events.txt
ck2 solar system/events/sinocide_events.txt
ck2 solar system/events/sinocide_warcrime.txt
ck2 solar system/events/sinocide_maintenance.txt
ck2 solar system/events/sinocide_warcrime_maintain.txt
ck2 solar system/localisation/sinocide_loc.csv
ck2 solar system/localisation/sin_nicknames.csv
